.topnav {
  margin-bottom: 70px;

  a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 7px 16px;
    margin: 0 11px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 50px;
    font-weight: bold;
    font-size: 18px;

    &.active,
    &:hover {
      background-color: #7984D7;
      color: white;
    }
  }
}
